{:deps {com.rpl/specter {:mvn/version "1.1.2"}}
 :paths ["src" "resources"]
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                          :sha "209b64504cb3bd3b99ecfec7937b358a879f55c1"}}
                  :main-opts ["-m" "cognitect.test-runner"]}
           :nrepl {:extra-paths ["dev"]
                   :extra-deps {nrepl {:mvn/version "RELEASE"}
                                vvvvalvalval/scope-capture {:mvn/version "RELEASE"}
                                philoskim/debux {:mvn/version "RELEASE"}
                                cider/piggieback {:mvn/version "RELEASE"}
                                cider/cider-nrepl {:mvn/version "RELEASE"}
                                refactor-nrepl {:mvn/version "2.5.0-SNAPSHOT"}}}}}
